/*------------------------------
 * Copyright 2014 Pixelized
 * http://www.pixelized.cz
 *
 * Roxie theme v1.1
------------------------------*/



a,
.text-primary,
.btn-inverse:hover,
.btn-inverse:focus,
.nav.vertical-nav li a:hover,
form label,
.owl-theme .owl-controls .owl-buttons div,
.top-header .header-item,
.navbar-default .navbar-brand:hover,
.dropdown-menu > li > a:hover i,
.jumbotron6 #slide-3 .btn:first-child,
.jumbotron5 .btn:first-child,
.pagination > li > a:hover,
.pagination > li > span:hover,
#section-introduction h2,
#section-features .feature i,
.text-highlight span,
#section-portfolio .portfolio-item a:hover i,
footer h3 i,
footer .navbar-nav > li > a:hover,
#features .features-sidebar h3,
#features .features-content h3.features-title i,
#faq h3,
#services .service:hover h3,
#services.services1 .service i,
#services.services2 .service i,
#services.services3 .service i,
.profile h3 small,
.box h3,
.box ul li.active a,
.box ul li a:hover,
.box ul li a i,
.box.box-tags a:hover span,
.blog-post-detail span i,
.blog-timeline .blog-post .blog-post-info .month,
.comment a:hover,
#eshop .eshop-sidebar h3,
.shopping-cart-footer p.total-price,
.jumbotron6 #slide-3 .btn:hover,
.jumbotron5 .btn:hover,
.jumbotron3 .btn:hover,
#section-blog-posts .btn:hover,
#separator1 .btn:hover,

.comingsoon .brands li a:hover,
#profile-single .profile-body h2 small,
#eshop .eshop-sidebar .eshop-widget .checkbox input[type=checkbox]:checked + label:before,
.jumbotron-event .event-info h2,
#event-speakers .speaker .speaker-body h3,
#schedule .schedule-single-info i {
    color:#297aff;
}
#massage-teacher
{
    color: #fff;
}

#massage-teacher a
{
    color: #fff;
}
#massage-teacher a.btn
{
    color: #297aff;
    background: #fff;
}

#massage-teacher label
{
    color: #fff;

}

.panel-collapse
{
    text-align: left;
}
.btn-primary,
.alert-primary,
.label-primary,
.panel-primary > .panel-heading,
.blog-timeline .blog-post:hover .blog-post-info,
.eshop-product .product-sale-label,
.popover-title,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.overlay-wrapper .overlay,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-buttons div:hover,
.brands.main li a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.jumbotron6 #slide-3 .btn:first-child:hover,
.jumbotron5 .btn:first-child:hover,
.content-separator,
.bg-color-1,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
#section-features .feature:hover i,
.recent-blog-post .post-date,
.pricing-plan .pricing-plan-price,
#services.services2 .service:hover i,
#services.services3 .service:hover i,
.blog-header .vertical-nav li a:hover .badge,
.box ul li a span.badge,
.blog-timeline-mark,
#section-portfolio .portfolio-item .hover-overlay,
.hidden-control.owl-theme .owl-controls .owl-buttons div:hover,

.comingsoon .brands li a,
#profile-single .profile-body .profile-contacts li span,
#eshop .eshop-sidebar .eshop-widget .ui-slider .ui-slider-range,
.event-ticket.highlighted {
    background-color: #297aff;
}

.popover,
.navbar-nav > li > .dropdown-menu,
.jumbotron6 #slide-3 .btn:first-child,
.jumbotron5 .btn:first-child,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
#section-features .feature i,
.text-highlight,
#services.services2 .service i,
#services.services3 .service i,

#eshop .eshop-sidebar .eshop-widget .checkbox input[type=checkbox]:checked + label:before  {
    border-color:#297aff;
}

.popover.left > .arrow {border-left-color: #297aff;}
.popover.right > .arrow {border-right-color: #297aff;}
.popover.top > .arrow {border-top-color: #297aff;}
.popover.bottom > .arrow {border-bottom-color: #297aff;}

/* TRANSPARENT */

.hidden-control.owl-theme .owl-controls .owl-buttons div,
.jumbotron-event p.event-date {
    background-color: rgba(41, 122, 255, 0.5);
}

.jumbotron6 h2,
.jumbotron5 h2,
.jumbotron3 h2,
.map-overlay {
    background-color: rgba(41, 122, 255, 0.8);
}

.jumbotron2,
.jumbotron4 {
    background-image: linear-gradient(rgba(41, 122, 255, 0.8), rgba(41, 122, 255, 0.5)), url(../image/bg3.jpg);
}

.jumbotron7 {
    background-image: linear-gradient(rgba(41, 122, 255, 0.6), rgba(41, 122, 255, 0.6)),url(../image/gplaypattern.png);
}

#section-blog-posts,
#section-testimonials,
#section-statistics,
.jumbotron1 {
    background-image: linear-gradient(rgba(41, 122, 255, 0.6), rgba(41, 122, 255, 0.6)), url(../image/bg3.jpg);
}

@media (max-width:991px) {
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fffae7;
    }

    .navbar-default .navbar-collapse {
        border-color:#297aff;
    }
}

/* DARKER */

a:hover,
a:focus {
    color:#363636;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.pricing-plan h3,
.pricing-plan p {
    background-color:#297aff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.blog-timeline .blog-post:hover .blog-post-info,
.eshop-product .product-sale-label {
    border-color:#297aff;
}

